version: "2.1"
services:
    odoo:
        build:
            context: ./odoo
        image: filament/{{ item.key }}:{{ instance_odoo_setup.odoo_version }}
        container_name: {{ item.key }}
        depends_on:
            - db
            - smtp
        environment:
            PGDATABASE: "{{ item.value.db }}"
{% if item.value.odoo_extra_host is defined %}
        extra_hosts:
            - "{{ item.value.odoo_extra_host }}"
{% endif %}
        tty: true
        volumes:
            - filestore:/opt/odoo/data:z
{% if private_pull is defined %}
            - ../import/:/import/:ro
{% endif %}
        networks:
            default:
            inverseproxy_shared:
{% if restrict_internet_access %}
{% if whitelisted_urls is defined %}
            whitelists_proxy:
{% endif %}
{% if item.value.extra_urls is defined %}
            extrawhitelists_proxy:
{% endif %}
{% endif %}
        restart: unless-stopped
        labels:
            co.elastic.logs/enabled: "false"
            traefik.enable: "true"
{% if ansible_processor_vcpus > 2 or item.value.force_odoo_workers is defined %}
            traefik.http.routers.{{ item.key }}-{{ instance_odoo_setup.websocket_uri }}.rule: "Host(`{{ item.value.url }}`) && PathPrefix(`/{{ instance_odoo_setup.websocket_uri }}/`)"
            traefik.http.routers.{{ item.key }}-{{ instance_odoo_setup.websocket_uri }}.service: "{{ item.key }}-{{ instance_odoo_setup.websocket_uri }}"
            traefik.http.services.{{ item.key }}-{{ instance_odoo_setup.websocket_uri }}.loadbalancer.server.port: "8072"
{% endif %}
            traefik.http.routers.{{ item.key }}-restrict.middlewares: "auth@file"
            traefik.http.routers.{{ item.key }}-restrict.rule: "Host(`{{ item.value.url }}`) && Path(`/website/info`, `/web/database/{p:manager|create|duplicate|drop|backup|restore|change_password}`)"
            traefik.http.routers.{{ item.key }}-restrict.service: "{{ item.key }}"
            traefik.http.routers.{{ item.key }}.middlewares: "norobot-headers@file"
            traefik.http.routers.{{ item.key }}.rule: "Host(`{{ item.value.url }}`)"
            traefik.http.routers.{{ item.key }}.service: "{{ item.key }}"
            traefik.http.services.{{ item.key }}.loadbalancer.server.port: "8069"
        command:
            - odoo
            - --smtp-port=1025
            - --database={{ item.value.db }}
            - --init=web_environment_ribbon
{% if ansible_processor_vcpus > 2 or item.value.force_odoo_workers is defined %}
            - --workers=2
            - --max-cron-threads=1
{% elif item.value.force_odoo_workers is defined %}
            - --workers=0
{% endif %}

    db:
        image: postgres:{{ instance_odoo_setup.postgres_version }}-alpine
        container_name: {{ item.key }}_db
        environment:
            POSTGRES_DB: "postgres"
{% if item.value.from_instance is defined and item.value.from_host is undefined %}
            POSTGRES_USER: "{{ odoo_instances[item.value.from_instance].db_user }}"
            POSTGRES_PASSWORD: "{{ odoo_instances[item.value.from_instance].db_pass }}"
{% else %}
            POSTGRES_USER: "{{ item.value.db_user }}"
            POSTGRES_PASSWORD: "{{ item.value.db_pass }}"
{% endif %}
        labels:
            co.elastic.logs/enabled: "false"
        volumes:
            - db:/var/lib/postgresql/data:z
        restart: unless-stopped

    smtp:
        image: mailhog/mailhog
        container_name: {{ item.key }}_smtp
        restart: unless-stopped
        networks:
            default:
            inverseproxy_smtp:
        labels:
            co.elastic.logs/enabled: "false"
            traefik.docker.network: "inverseproxy_smtp"
            traefik.enable: "true"
            traefik.http.routers.{{ item.key }}smtp.middlewares: "auth@file, smtp-stripprefix@file"
            traefik.http.routers.{{ item.key }}smtp.rule: "Host(`{{ item.value.url }}`) && PathPrefix(`/smtp/`)"
            traefik.http.routers.{{ item.key }}smtp.service: "{{ item.key }}smtp"
            traefik.http.services.{{ item.key }}smtp.loadbalancer.server.port: "8025"

{% if restrict_internet_access and item.value.extra_urls is defined %}
{% for url in item.value.extra_urls %}
    {{ url }}:
        image: tecnativa/whitelist
        container_name: {{ item.key }}_{{ url }}
        labels:
            co.elastic.logs/enabled: "false"
        networks:
            extrawhitelists_proxy:
                aliases:
                    - "{{ url }}"
            extrawhitelists_public:
        environment:
            PORT: "443"
            TARGET: "{{ url }}"
            PRE_RESOLVE: 1
        restart: unless-stopped

{% endfor %}
{% endif %}
{% if item.value.extra_app is defined %}
    app:
        image: {{ item.value.extra_app.image }}
        container_name: {{ item.value.extra_app.name }}
        restart: unless-stopped
        networks:
            inverseproxy_app:
        labels:
            co.elastic.logs/enabled: "false"
            traefik.docker.network: "inverseproxy_app"
            traefik.enable: "true"
            traefik.http.routers.{{ item.value.extra_app.name | lower | regex_replace('_','') }}.rule: "Host(`{{ item.value.extra_app.url }}`)"
            traefik.http.routers.{{ item.value.extra_app.name | lower | regex_replace('_','') }}.service: "{{ item.value.extra_app.name | lower | regex_replace('_','') }}"
            traefik.http.services.{{ item.value.extra_app.name | lower | regex_replace('_','') }}.loadbalancer.server.port: "80"

{% endif %}
networks:
    default:
        internal: true
        driver_opts:
            encrypted: 1
    inverseproxy_shared:
        external: true
    inverseproxy_smtp:
        external: true
{% if item.value.extra_app is defined %}
    inverseproxy_app:
        external: true
{% endif %}
{% if restrict_internet_access %}
{% if whitelisted_urls is defined %}
    whitelists_proxy:
        external: true
{% endif %}
{% if item.value.extra_urls is defined %}
    extrawhitelists_proxy:
        driver_opts:
            encrypted: 1
        internal: true
    extrawhitelists_public:
        driver_opts:
            encrypted: 1
{% endif %}
{% endif %}

volumes:
    filestore:
    db:
